#lxdm
{
	background-color: #BBB;
	border:           0;
  font:  Cantarell Regular 14;
}
#time
{
	color: #333;
	font:  Cantarell Regular 14;
}
#prompt
{
	color: #333;
	font:  Cantarell Regular 14;
}
#user_list, #login_entry {
	background-image: none;
	background-color: #BBB;
	border:           0;
	border-color:     0;
	font:  Cantarell Regular 12;
}	
